{% extends '../base.html' %}
{% load static %}
{% block title %}Zenith | Your Cart{% endblock %} 
{% block content %}

<div class="container mt-5 p-3 rounded cart">
  <div class="row no-gutters">
    <div class="col-md-8">
      <div class="product-details mr-2">
        <div class="d-flex flex-row align-items-center">
          <i class="fa fa-long-arrow-left" style="color: #ff0000"></i
          ><span class="ml-2">Continue Shopping</span>
        </div>
        <hr />
        <h6 class="mb-0">Shopping cart</h6>
        <!--
          <span>You have items in your cart</span>
        -->
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-row align-items-center">
            <!--
              <span class="text-black-50">Sort by:</span>
            <div class="price ml-2">
              <span class="mr-1">price</span><i class="fa fa-angle-down"></i>
            </div>
            -->
          </div>
        </div>
        {% for item in cart %} {% with watch=item.watch %}
        <div
          class="d-flex justify-content-between align-items-center mt-3 p-2 items rounded"
          data-index="{{watch.id}}"
        >
          <div class="d-flex flex-row">
            <img class="rounded" src="{{ watch.main_image.url }}" width="40" />
            <div class="ml-2">
              <span class="font-weight-bold d-block">{{watch.title}}&nbsp;</span
              ><span class="spec">{{watch.brand}}</span>
            </div>
          </div>
          <div class="d-flex flex-row align-items-center">
            <label for="select" class="mr-3" style="font-size: 13px">Qty</label>
            <select
              id="select{{watch.id}}"
              class="mr-3"
              style="width: 30px; height: 25px"
            >
              <option value="" selected disabled hidden>{{item.qty}}</option>
              <option value="">1</option>
              <option value="">2</option>
              <option value="">3</option>
              <option value="">4</option>
            </select>
            <a
              type="button"
              id="update-button"
              data-index="{{watch.id}}"
              class="update-button text-decoration-none small ps-3 mr-3"
              style="color: #ff0000"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="14"
                height="14"
                fill="#FF0000"
                class="bi bi-pencil-square"
                viewBox="0 0 16 16"
              >
                <path
                  d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                />
                <path
                  fill-rule="evenodd"
                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
                />
              </svg>

              Update
            </a>
            <a
              type="button"
              id="delete-button"
              data-index="{{watch.id}}"
              class="delete-button text-decoration-none small mr-3"
              style="color: #ff0000"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="14"
                height="14"
                fill="#FF0000"
                class="bi bi-trash3-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"
                />
              </svg>

              Remove
            </a>

            <span class="d-block ml-5 font-weight-bold"
              >Ksh {{watch.price}}</span
            ><i class="fa fa-trash-o ml-3 text-black-50"></i>
          </div>
        </div>
        {% endwith %} {% endfor %}
      </div>
    </div>

    <div class="col-md-4">
      <div class="payment-info">
        <div class="d-flex justify-content-between align-items-center">
          <span>Cart Summary</span>
        </div>
        <span class="type d-block mt-3 mb-1">Accepted Payment Methods</span>
        <label class="radio mr-3 ml-4">
          <span
            ><img
              width="30"
              src="https://seeklogo.com/images/M/mpesa-logo-AE44B6F8EB-seeklogo.com.png"
          /></span>
        </label>
        <label class="radio mr-3">
          <span
            ><img
              width="30"
              src="https://seeklogo.com/images/P/paypal-logo-CA814C6B42-seeklogo.com.png"
          /></span>
        </label>

        <label class="radio mr-3">
          <span
            ><img
              width="30"
              src="https://seeklogo.com/images/M/Master_Card-logo-027CB51F96-seeklogo.com.png"
          /></span>
        </label>

        <label class="radio">
          <span
            ><img
              width="30"
              src="https://seeklogo.com/images/V/VISA-logo-A32D589D31-seeklogo.com.png"
          /></span>
        </label>

        <hr class="line" />
        <div class="d-flex justify-content-between information">
          <span>Subtotal</span>
          <div id="subtotal" class="d-inline-flex fw-bold">
            Ksh. {{cart.get_subtotal_price}}
          </div>
        </div>

        <div class="d-flex justify-content-between information">
          <span>Shipping</span><span>Ksh 700.00</span>
        </div>
        <div class="d-flex justify-content-between information">
          <span>Total(Incl. taxes)</span
          ><span id="total">Ksh.{{cart.get_total_price}}</span>
        </div>
        <button
          class="btn btn-primary btn-block d-flex justify-content-between mt-3"
          type="button"
          style="background-color: #000; border-color: #fff"
        >
          <span id="total">Ksh.{{cart.get_total_price}}</span
          ><span style="color: #ff0000"
            >Proceed to Checkout<i class="fa fa-long-arrow-right ml-1"></i
          ></span>
        </button>
      </div>
    </div>
  </div>
</div>
<!--
  SCRIPT
-->
  <script>
    //Delete
    $(document).on("click", ".delete-button", function (e) {
      e.preventDefault();
      var wachid = $(this).data("index");
      $.ajax({
        type: "POST",
        url: '{% url "Cart:cart_delete" %}',
        data: {
          watchid: $(this).data("index"),
          csrfmiddlewaretoken: "{{csrf_token}}",
          action: "post",
        },
        success: function (json) {
          $('.watch-item[data-index="' + wachid + '"]').remove();
          document.getElementById("subtotal").innerHTML = json.subtotal;
          document.getElementById("cart-qty").innerHTML = json.qty;
        },
        error: function (xhr, errmsg, err) {},
      });
    });

    //update
    $(document).on("click", ".update-button", function (e) {
      e.preventDefault();
      var wachid = $(this).data("index");
      $.ajax({
        type: "POST",
        url: '{% url "Cart:cart_update" %}',
        data: {
          watchid: $(this).data("index"),
          watchqty: $("#select" + wachid + " option:selected").text(),
          csrfmiddlewaretoken: "{{csrf_token}}",
          action: "post",
        },
        success: function (json) {
          //document.getElementById("newPrice").innerHTML = json.newPrice
          document.getElementById("cart-qty").innerHTML = json.qty;
          document.getElementById("subtotal").innerHTML = json.subtotal;
        },
        error: function (xhr, errmsg, err) {},
      });
    });
  </script>
{% endblock %}
