{% extends '../base.html' %} 
{% load static %}
{% block title %}Zenith | Your Cart{% endblock %} 
{% block content %}

<style>
  .account-form input {
      border: 2px solid #ccc;
      height: calc(2em + .75rem + 2px);
  }

  .account-form input:focus {
      border-color: #1497ff;
      box-shadow: none;
  }
</style>

<main class="pt-5">
    <div class="container" style="max-width: 1000px">
        <div class="col-12">
            <h1 class="h2">Update Your Details</h1>
            <div style="display: inline-flex; justify-content: right; align-items: right; color: #FF0000; text-decoration:none">
                <a href="/customer/dashboard/">
                    <!-- Dashboard -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="#FF0000" class="bi bi-arrow-left-square" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                    </svg> 
                    
                </a>
            </div>
          
          </div>
          
          <hr />
    </div>
    <div class="container-fluid">
      <div class="row no-gutter">
        <div class="col-md-12">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                <div class="row">
                <div class="col-12 col-lg-7  mx-auto">

                <form class="account-form px-4 pt-4" method="post" enctype="multipart/form-data">

                    {% if user_form.is_valid and profile_form.is_valid  %}
                    <div class="alert alert-primary" role="alert">
                        Details successfully updated!
                    </div>
                    <p class="small text-center pt-0">
                        <a href="{% url "Account:dashboard" %}">Back to Dashboard</a>
                    </p>
                    {%else%}
                    <h3>Update your details</h3>
                    <p>You can edit your account using the following form:</p>
                    {% endif %}

                    {% if form.errors %}
                    <div class="alert alert-primary" role="alert">
                        Error: Please try again!
                    </div>
                    {% endif %}

                    {% csrf_token %}
                    <label class="small font-weight-bold">{{ user_form.email.label}}</label>
                    {{ user_form.email }}
                    <label class="small font-weight-bold">{{ user_form.first_name.label}}</label>
                    {{ user_form.first_name }}



                    <button class="btn btn-primary btn-block py-2 mb-4 mt-5 fw-bold w-100" type="submit"
                        value="Save changes">Save Changes</button>
                    <hr class="mb-3">
                </form>
                     <form class="account-form px-4" action="{% url "Account:delete_user" %}" method="post">
                        {% csrf_token %}
                        <p class=" h3 pt-4 font-weight-bold">Delete Account</p>
                        <p>Are you sure you want to delete your account?</p>
                        <button type="submit" role="button"
                            class="btn btn-danger btn-block py-2 mb-4 mt-5 fw-bold w-100">Delete</button>
                    </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>

{% endblock %}