{% extends '../base.html' %} {% load django_bootstrap5 %} {% load bootstrap5 %}
{% load static %} {% block title %}Zenith | Your Cart{% endblock %} 
{% block content %}

<!--
    .container-fluid {
        max-width: 100%;
    }
-->
<style>
    

    .account-form input {
        border: 2px solid #ccc;
        height: calc(2em + .75rem + 2px);
    }

    .account-form input:focus {
        border-color: #1497ff;
        box-shadow: none;
    }
</style>

<div class="container bg-white mt-2 pb-5 loginContainer">
    <div class="row d-flex justify-content-start align-items-center mt-sm-5">
        <div class="col-lg-5 col-10">
            <div id="circle"></div>
            <div class="pb-5">
                <img src="https://img.freepik.com/free-vector/authentication-concept-illustration_114360-2168.jpg?size=338&ext=jpg&ga=GA1.2.777073396.1599399655" alt="">
            </div>
        </div>
        <div class="col-lg-4 offset-lg-2 col-md-6 offset-md-3">
            <div class="pt-4">
                <!--
                    <h6><span class="fa fa-superpowers text-primary px-md-2"></span>COMPANY LOGO</h6>
                -->
            </div>
            <div class="mt-3 mt-md-5">
                <h5 style="text-align: center">Welcome Back</h5>
                <p class="mb-4" style="text-align: center">Get back into your account!</p>

            <!--Form-->
                    <form class="account-form p-4 rounded" action="{% url 'Account:login' %}" method="post">

                        {% csrf_token %}

                        {% if form.errors %}
                        <div class="alert alert-primary" role="alert">
                            Error: Username or Password not correct!
                        </div>
                        {% endif %}

                        <label class="form-label">{{ form.username.label}}</label>
                        {{ form.username}}

                        <label class="form-label">{{ form.password.label}}</label>
                        {{ form.password}}
                        <div class="d-grid gap-2">
                            <input type="hidden" name="next" value="{{ next }}">
                            <button class="btn btn-block  border py-2 mb-4 mt-5 fw-bold rounded" type="submit" value="Log-in" style="border-color:#FF0000">Sign in
                            </button>
                        </div>
                     
                   
                    
                    <button class="btn btn-block bg-white border border-primary rounded "><span class="fa fa-facebook-official text-primary px-2"></span>Log In with Facebook</button>
                    <div class="register mt-5">
                        <p>Don't have an account? <a href="{% url "Account:register" %}" style="color:#FF0000; font-size:12px">Create an account</a></p>
                    </div>
                    <p class="small text-center pt-4">
                        <a href="{% url "Account:pwdreset" %}" style="font-size:10px; color:#FF0000">Forgot Password?</a> 
                    </p>
                    <p class="small text-center">
                        <a href="#" style="font-size:8px; color:#000">Help Center</a> 
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
