{% extends '../base.html' %} {% load static %} {% block title %}Zenith | Sign Up
Success{% endblock %} {% block content %}

<main class="pt-5">
  <div class="container" style="max-width: 1000px">
    <div class="col-12">
      <h1 class="h2">Welcome on-board</h1>
    </div>
    <div class="col-12 d-flex justify-content-between">
    </div>
    <hr />
    <p class="h3 mb-4 font-weight-bold">Your Zenith account Created Successfully!!! Kindly Check your email for an activation link...</p>    
  </div>
  
</main>
{% endblock %}