{% extends '../base.html' %} 
{% load django_bootstrap5 %} 
{% load bootstrap5 %}
{% load static %}



<!--
    {% block title %}Home{% endblock %}

-->
{% block content %}

<!--Main Body Section-->
<div class="container mt-5 mb-5">
  <div class="card" style="border: none">
    <div class="row g-0">
      <div class="col-md-3">
        <div class="mt-5 pt-5 thumbnail_images">
          <ul id="thumbnail">
            <li>
              <img
                onclick="changeImage(this)"
                src="{{ watch.meta_image1.url }}" alt="{{watch.title}}"
                width="70"
              />
            </li>
            <li>
              <img
                onclick="changeImage(this)"
                src="{{ watch.meta_image2.url }}" alt="{{watch.title}}"
                width="70"
              />
            </li>
            <li>
              <img
                onclick="changeImage(this)"
                src="{{ watch.meta_image3.url }}" alt="{{watch.title}}"
                width="70"
              />
            </li>
            <li>
              <img
                onclick="changeImage(this)"
                src="{{ watch.model_image.url }}" alt="{{watch.title}}"
                width="70"
              />
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 border-end">
        <div class="d-flex flex-column justify-content-center">
          <div class="main_image">
            <img
              src="{{ watch.main_image.url }}" alt="{{watch.title}}"
              id="main_product_image"
              width="350"
            />

          </div>
        </div>
      </div>
      <div
        class="col-md-3"
        style="
          background-color: #fff;
          padding: 1em;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        "
      >
        <div class="p-3 right-side" style="background-color: #fff">
          <div
            class="d-flex justify-content-between align-items-center"
            style="background-color: #fff"
          >
            <h3 style="background-color: #fff">{{watch.title}} | {{watch.category}}</h3>
            <span class="heart"
              ><i class="fas fa-heart" style="color: #ff0000"></i
            ></span>
          </div>
          <div class="mt-2 pr-3 content" style="background-color: #fff">
            <p style="background-color: #fff">
              Special Zenith Empire Collection
            </p>
          </div>
          <h3 style="background-color: #fff">Ksh {{ watch.price }}</h3>
          <div
            class="ratings d-flex flex-row align-items-center"
            style="background-color: #fff"
          >
            <div class="d-flex flex-row" style="background-color: #fff">
              <i
                class="fas fa-star"
                style="color: #ff0000; background-color: #fff"
              ></i>
              <i
                class="fas fa-star"
                style="color: #ff0000; background-color: #fff"
              ></i>
              <i
                class="fas fa-star"
                style="color: #ff0000; background-color: #fff"
              ></i>
              <i
                class="fas fa-star"
                style="color: #ff0000; background-color: #fff"
              ></i>
              <i
                class="far fa-star"
                style="color: #ff0000; background-color: #fff"
              ></i>
            </div>
            <span style="background-color: #fff">441 reviews</span>
          </div>
          <div class="mt-5" style="background-color: #fff">
            <span class="fw-bold" style="background-color: #fff">Color</span>
            <div class="colors" style="background-color: #fff">
              <ul id="marker" style="background-color: #fff">
                <li id="marker-1"></li>
                <li id="marker-2"></li>
                <li id="marker-3"></li>
                <li id="marker-4"></li>
                <li id="marker-5"></li>
              </ul>
            </div>
          </div>
          <div class="buttons d-flex flex-row mt-5 gap-3">
            <button class="btn btn-outline-dark">Buy Now</button>
            <button class="btn btn-dark">Add to Basket</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Specs-->
<div class="container mt-5 mb-5 pt-5">
  <div class="card" style="border: none">
    <div class="row g-0">
      <div class="col-md-6 pt-3">
        <img
          src="{{watch.meta_image1.url}}"
          width="400"
        />
      </div>
      <div class="col-md-6 pt-3">
        <h5 class="pt-4" style="font-weight: bold">Specifications</h5>
        <ul style="list-style: none">
          <li class="pt-3"><span style="font-weight: bold">Color:</span> {{watch.color}}</li>
          <li class="pt-3"><span style="font-weight: bold">Brand:</span> {{watch.brand}}</li>
          <li class="pt-3"><span style="font-weight: bold">Watch Type</span> {{watch.watchType}}</li>
        </ul>
      </br>
        <h5 style="font-weight: bold">Key Features</h5>
        <ul style="list-style: none">
          <li class="pt-3"><span style="font-weight: bold">Clasp Type</span> {{watch.clasp}}</li>
          <li class="pt-3"><span style="font-weight: bold">Watch Strap</span> {{watch.watchStrap}}</li>
          <li class="pt-3"><span style="font-weight: bold">Core Material</span> {{watch.coreMaterial}}</li>
          <li class="pt-3"><span style="font-weight: bold">Main Material</span>{{watch.mainMaterial}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!--Product Dets-->
<div class="container mt-5 mb-5 pt-5">
  <div class="card" style="border: none; background-color: #f3eee7">
    <h3 class="text-center" style="font-weight: bold" >{{ watch.title }}</h3>
    <h6 class="text-center" style="background-color: #f3eee7">
      {{watch.description}}
    </h6>
    <div class="row g-0">
      <div class="col-md-6 pt-3">
        <img
          src="{{watch.meta_image2.url}}"
          width="400"
        />
      </div>
      <div class="col-md-6 pt-3">
        <img
          src="{{watch.meta_image3.url}}"
          width="400"
        />
      </div>
    </div>
  </div>
</div>
<!--More Details-->
<div class="container mt-5 mb-5 pt-5">
  <div class="card" style="border: none">
    <div class="row g-0">
      <div class="col-md-3 pt-3"><!--Dummy--></div>

      <div class="col-md-6 pt-3">
        <img
          src="{{ watch.model_image.url }}"
          width="500"
        />
      </div>

      <div class="col-md-3 pt-3"><!--Dummy--></div>
    </div>
  </div>
</div>
<!--More from the Seller-->

<div class="container mt-5 mb-5 pt-5">
  <div class="card" style="border: none; background-color: #f3eee7">
    <h3 class="text-center">More from {{watch.brand}}</h3>

    <div class="row">
      <div
        class="col-lg-3 col-sm-6 d-flex flex-column align-items-center justify-content-center product-item my-3"
      >
        <div class="product">
          <div class="tag bg-red">sale</div>

          <img
            src="https://res.cloudinary.com/dyiuol5sx/image/upload/v1662233213/Zenith/col1_mtbnyv.png"
            alt=""
          />
          <ul
            class="d-flex align-items-center justify-content-center list-unstyled icons"
          >
            <!-- <li class="icon"><span class="fas fa-expand-arrows-alt"></span></li> -->
            <li class="icon mx-3">
              <span class="far fa-heart" style="background-color: #fff"></span>
            </li>
            <li class="icon">
              <span
                class="fas fa-shopping-bag"
                style="background-color: #fff"
              ></span>
            </li>
          </ul>
        </div>
        <div class="title pt-4 pb-1">Zenith Edition Watches</div>
        <div class="d-flex align-content-center justify-content-center">
          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
        </div>
        <div class="price">$ 60.0</div>
      </div>
      <!--Prod 2-->

      <div
        class="col-lg-3 col-sm-6 d-flex flex-column align-items-center justify-content-center product-item my-3"
      >
        <div class="product">
          <div class="tag bg-red">sale</div>

          <img
            src="https://res.cloudinary.com/dyiuol5sx/image/upload/v1662233221/Zenith/col3_pvsrjh.png"
            alt=""
          />
          <ul
            class="d-flex align-items-center justify-content-center list-unstyled icons"
          >
            <!-- <li class="icon"><span class="fas fa-expand-arrows-alt"></span></li> -->
            <li class="icon mx-3">
              <span class="far fa-heart" style="background-color: #fff"></span>
            </li>
            <li class="icon">
              <span
                class="fas fa-shopping-bag"
                style="background-color: #fff"
              ></span>
            </li>
          </ul>
        </div>
        <div class="title pt-4 pb-1">Zenith Edition Watches</div>
        <div class="d-flex align-content-center justify-content-center">
          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
        </div>
        <div class="price">$ 60.0</div>
      </div>
      <!--Prod 3-->
      <div
        class="col-lg-3 col-sm-6 d-flex flex-column align-items-center justify-content-center product-item my-3"
      >
        <div class="product">
          <div class="tag bg-red">sale</div>

          <img
            src="https://res.cloudinary.com/dyiuol5sx/image/upload/v1661760708/Zenith/img2_dmhdhu.png"
            alt=""
          />
          <ul
            class="d-flex align-items-center justify-content-center list-unstyled icons"
          >
            <!-- <li class="icon"><span class="fas fa-expand-arrows-alt"></span></li> -->
            <li class="icon mx-3">
              <span class="far fa-heart" style="background-color: #fff"></span>
            </li>
            <li class="icon">
              <span
                class="fas fa-shopping-bag"
                style="background-color: #fff"
              ></span>
            </li>
          </ul>
        </div>
        <div class="title pt-4 pb-1">Zenith Edition Watches</div>
        <div class="d-flex align-content-center justify-content-center">
          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
        </div>
        <div class="price">$ 60.0</div>
      </div>
      <!--Prod 4-->
      <div
        class="col-lg-3 col-sm-6 d-flex flex-column align-items-center justify-content-center product-item my-3"
      >
        <div class="product">
          <div class="tag bg-red">sale</div>

          <img
            src="https://res.cloudinary.com/dyiuol5sx/image/upload/v1662233217/Zenith/col2_mltciv.png"
            alt=""
          />
          <ul
            class="d-flex align-items-center justify-content-center list-unstyled icons"
          >
            <!-- <li class="icon"><span class="fas fa-expand-arrows-alt"></span></li> -->
            <li class="icon mx-3">
              <span class="far fa-heart" style="background-color: #fff"></span>
            </li>
            <li class="icon">
              <span
                class="fas fa-shopping-bag"
                style="background-color: #fff"
              ></span>
            </li>
          </ul>
        </div>
        <div class="title pt-4 pb-1">Zenith Edition Watches</div>
        <div class="d-flex align-content-center justify-content-center">
          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
          <span class="fas fa-star"></span>
        </div>
        <div class="price">$ 60.0</div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
