{% extends "../base.html" %}

{% block title %}Log-in{% endblock %} 
{% block content %}
<div class="col-12 mt-4">
  <p class="mb-0 fw-bold h4 text-center">M-Pesa Payment Method</p>
</div>
<div class="container payContainer">
  <div class="row">
    <div class="col-8 mb-3">
      <div class="card p-3">
        <p>Num</p>
      </div>
    </div>
    <div class="col-4 mb-3">
      <div class="card p-3">
        <p>items</p>
      </div>
    </div>
  </div>
</div>
<p class="mb-0 fw-bold h4 text-center">
  Back to: <a href="#" style="text-decoration: none; color: black">Card</a> |
  <a href="#" style="text-decoration: none; color: black">Paypal</a>
</p>

{% endblock %}
