{% extends "../base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}
<div class="col-12 mt-4">
    <!-- <div class="card p-3"> -->
        <p class="mb-0 fw-bold h4 text-center">Select Payment Method</p>
    <!-- </div> -->
</div>
<div class="container payContainer">
    <div class="row">
        <div class="col-lg-4 mb-lg-0 mb-3">
           <a href="#">
            <div class="card p-3">
                <div class="img-box">
                    <img src="https://seeklogo.com/images/M/mpesa-logo-AE44B6F8EB-seeklogo.com.png"" alt="">
                </div>
                <div class="number">
                    <small>
                        <label class="fw-bold text-center" for="">+254 *** *** 861</label>
                    </small>
                </div>
                
            </div>
           </a>
        </div>
        <div class="col-lg-4 mb-lg-0 mb-3">
            <a href="#">
                <div class="card p-3">
                    <div class="img-box">
                        <img src="https://seeklogo.com/images/P/paypal-logo-CA814C6B42-seeklogo.com.png"
                            alt="">
                    </div>
                    <div class="number">
                        <small>
                            <label class="fw-bold text-center">*********@gmail.com</label>
                        </small>
                    </div>
                    
                </div>
            </a>
        </div>
        <div class="col-lg-4 mb-lg-0 mb-3">
           <a href="#">
            <div class="card p-3">
                <div class="img-box">
                    <img src="https://seeklogo.com/images/M/Master_Card-logo-027CB51F96-seeklogo.com.png"
                        alt="">
                </div>
                <div class="number">
                    <small> 
                        <label class="fw-bold text-center"> **** **** **** 1060</label>
                    </small>
                </div>
                
            </div>
           </a>
        </div>
    </div>
</div>
    
{% endblock %}